.dim{
    position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 1003;background: rgba(0,0,0,0.8);visibility: hidden;opacity: 0;transition: opacity 0.3s, visibility 0.3s;
}

.valid,
.valid::placeholder{
    color: $blue;
}
.invalid,
.invalid::placeholder{
    color:$danger;
}

@keyframes loading {
    0% {visibility: visible;}
    21% {visibility: visible;}
    25% {visibility: hidden;}
    96% {visibility: hidden;}
    100% {visibility: visible;}
}
@keyframes dot {
    0% {visibility: visible;}
    25% {visibility: visible;}
    49% {visibility: hidden;}
    99% {visibility: hidden;}
    100% {visibility: visible;}
}
.loading{
    width: 100vw;height: 100vh;position: fixed;background: rgba(255,255,255,0.3);
    .loading-circle{position: absolute;left: 50%;top: 50%;margin: -75px 0 0 -75px;width: 150px;height: 150px;}
    span{position: absolute;left: 0;text-align: center;top:20px;color: $gray;width: 100%}
    i{animation-name: dot;animation-timing-function: linear;animation-iteration-count: infinite;animation-duration: .9s;}
    i:nth-of-type(1){animation-delay: 0;}
    i:nth-of-type(2){animation-delay: 0.3s;}
    i:nth-of-type(3){animation-delay: 0.6s;}
    img{
        position: absolute;left: 0;
        animation-name: loading;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 2.4s;}
    img:nth-of-type(1) {animation-delay: 1.8s;}
    img:nth-of-type(2) {animation-delay: 1.2s;}
    img:nth-of-type(3) {animation-delay: .6s;}
    img:nth-of-type(4) {animation-delay: 0;}
}

.thumb{
    width: 100%;height: 100%;display: block;overflow: hidden;position: relative;
    &::before{content: '';display: block;width: 100%;height: 100%;/* background: rgba(0,0,0,0.1); */position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}
    img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);max-width: none;}
    img.vertical{width: 100%;height: auto;}
    img.horizontal{height: 100%;width: auto;}
}

.tab-area{
    margin-bottom: 41px;
}
.tab{
    ul{
        display: flex;max-width: 328px;background: #edf0f7;border-radius: 3em;position: relative;margin: 0 auto;
        &::before{
            content: '';width: 50%;height: 100%;background-color: #fff;border-radius: 3em;position: absolute;left: 0;top: 0;box-shadow: 0 10px 30px 0 #dee8ef;
            @include transition(all .2s ease-in-out);transition-delay: .05s;
        }
    }
    li{width: 50%;
        a{color: $gray;height: 56px;line-height: 56px;display: block;width: 100%;text-align: center;font-size: 15px;position: relative;@include transition(all .2s ease-in-out);transition-delay: .05s;}
        &.active a{color: $black;font-weight: 700;}
    }
    &[data-position="1"]{
        ul::before{left: 0;}
    }
    &[data-position="2"]{
        ul::before{left: 50%;}
    }
    &.tab-text{
        ul{
            max-width: auto;background: transparent;
            &::before{display: none;}
            li{width: auto;margin-right: 16px;
                a{
                    color: #000;font-weight: 500;font-size: 16px;
                    &::before{content: '';display: block;width: 100%;height: 4px;position: absolute;bottom: 0;left: 0;border-radius: 4px;}
                }
                &.active a{
                    color: $primary;
                    &::before{background: $primary;}
                }
            }
        }
    }
    &.tab-button{
        margin-left: -10px;
        ul{
            max-width: auto;background: transparent;
            &::before{display: none;}
            li{
                width: auto;
                a{color: $gray;display: block;padding: 6.5px 10px;border-radius: 10px;font-size: 14px;height: auto;line-height: 1.4;font-weight: 400;}
            }
            li.active{
                a{background: rgba(52, 213, 46, 0.1);color: $primary;}
            }
        }
    }
}
.tab-content{
    > div{
        display: none;
        &.active{display: block;}
    }
}
@include media-breakpoint-down(xl) {
    .tab{
        ul{
            max-width: 256px;
        }
        li{
            a{font-size: 15px;}
        }
    }
}

.dropdown {
	height: 56px;position: relative;cursor: pointer;width: 100%;max-width: 312px;
    transition: border-color 0.2s, margin-bottom 0.2s;outline: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
            user-select: none;
    & + .dropdown{margin-top: 0;}
    &:not(.active){margin-bottom: 0 !important;}

    .dropdown-value {
        border-bottom: 1px solid $border-color;
        font-size: 16px;height: 100%;position: absolute;left: 0;top: 0;bottom: 0;right: 0;line-height: 20px;padding: 18px 32px 0 0;transition: color 0.3s;letter-spacing: -0.9px;color: $gray;
        &.filled{color: $black;}
        &::before {
            content: '';display: block;position: absolute;top: calc(50% - 4.5px);right: 10px;width: 0;height: 0;border-style: solid;border-width: 9px 6.5px 0 6.5px;border-color: $border-color transparent transparent transparent;transition: all .2s .1s;
        }
    }
    .dropdown-box{
        border-radius: 10px;box-shadow: 0 10px 30px 0 #dee8ef;background-color: #fff;padding: .5rem;opacity: 0;position: absolute;top: 50%;z-index: 9999;visibility: hidden;width: 100%;box-shadow: 0 16px 29px -10px $shadow, 0 12px 50px -5px $shadow;
        transition: opacity 0.3s, visibility 0.3s, top 0.2s, bottom 0.2s;
    }
    .dropdown-list {
        max-height: 160px;overflow-x: hidden;
        > div{
            a{display: block;padding: .35rem .5rem;}
            a:hover{color: $primary;}
        }
    }
    &.active{
        .dropdown-value{color: $primary;
            &::before{transform: rotate(180deg);border-color: $primary transparent transparent transparent;}
        }
        .dropdown-box {opacity: 1;visibility: visible;top: calc(100% + 1px);}
    }
    .dropdown-value:focus{
        border-color: $primary;color: $primary;outline: 0;
        &::before{border-color: $primary transparent transparent transparent;}
    }
}
@include media-breakpoint-down(md) {
    .dropdown{
        margin-bottom: 0 !important;
        .dropdown-box{top: auto;bottom: -100%;left: 0;position: fixed;opacity: 1;padding: 1rem;border-radius: 10px 10px 0 0;}
        .dropdown-list{
            max-height: 380px;
            > div{
                a{padding: .5rem 8px;font-size: 16px;}
            }
        }
        &.active{
            .dropdown-box{top: auto;bottom: 0;}
        }
    }
    html.open-dropdown{
        body{overflow: hidden;}
        .dim{opacity: 1;visibility: visible;}
    }
    .dropdown.ellipsis{
        width: auto;height: auto;
        .dropdown-value{
            border: 0;padding: 0 10px;position: static;width: 20px;height: 20px;margin-right: -10px;
            &::before{display: none;}
        }
    }
}

.title-area{
    margin-bottom: 52px;
    h2{
        strong{
            display: block;font-weight: 700;line-height: 1;letter-spacing: -1px;font-size: 16px;margin-bottom: 4px;
        }
        span{
            display: block;font-size: 24px;line-height: 1.31;letter-spacing: -1.6px;font-weight: 400;font-family: 'NanumSquare';
            &::after{content: '';display: inline-block;vertical-align: text-bottom;width: 8px;height: 8px;border-radius: 50%;background: $primary;margin-left: 6px;}
        }
    }
}
@include media-breakpoint-down(md) {
    .title-area{display: none;}
}

.category{
    margin-left: -10px;margin-right: -10px;margin-bottom: 47px;
    nav{
        ul{
            display: flex;justify-content: space-between;
            li{
                width: auto;
                a{color: $gray;display: block;padding: 5.5px 10px;border-radius: 10px;font-size: 14px;}
            }
            li.active{
                a{background: rgba(52, 213, 46, 0.1);color: $primary;}
            }
        }
    }
}
.title-area + .category{margin-top: -30px;}
@include media-breakpoint-down(md) {
    .category{margin-left: -24px;margin-right: -24px;margin-bottom: 45px;}
    .title-area + .category{margin-top: 15px;}
}

.like{
    display: flex;align-items: center;
    strong{margin-left: 2px;color: $black;}
    .heart-filled {
        fill:$primary;
    }
    .animation-grow{
        animation: grow;animation-duration: .25s;animation-direction:forwards;animation-timing-function: ease-in-out;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.top-area{
    display: flex;justify-content: space-between;margin-bottom: 9px;
    .text{margin-right: 15px;word-break: keep-all;}
    .banner{min-width: 300px;}
}
@include media-breakpoint-down(md) {
    .top-area{
        display: none;
    }
}
.icon-download{display: inline-block;vertical-align: middle;width: 16px;height: 16px;background: url('../images/icon-download.svg') no-repeat 50% 50%;}
.icon-delete{display: inline-block;vertical-align: middle;width: 10px;height: 10px;background: url('../images/icon-close.svg') no-repeat 50% 50%;opacity: 0.35;}
.icon-ellipsis{display: inline-block;vertical-align: middle;width: 3px;height: 20px;background: url('../images/ellipsis-v-solid.svg') no-repeat 50% 50%;background-size: contain;}
.icon-prev{display: inline-block;vertical-align: middle;width: 7px;height: 13px;background: url('../images/icon-prev.svg') no-repeat 50% 50%;background-size: contain;}
.icon-prev:hover{background-image: url('../images/icon-prev-green.svg');}
.icon-next{display: inline-block;vertical-align: middle;width: 7px;height: 13px;background: url('../images/icon-next.svg') no-repeat 50% 50%;background-size: contain;}
.icon-next:hover{background-image: url('../images/icon-next-green.svg');}
.icon-info{display: inline-block;width: 24px;height: 24px;background: url('../images/icon-info.svg') no-repeat 50% 50%;background-size: contain;}
.icon-search-white{display: inline-block;width: 12px;height: 12px;background: url('../images/icon-search-white.svg') no-repeat 50% 50%;background-size: contain;}

.th-icon-info{
    display: inline-block;vertical-align: top;margin-left: 3px;margin-top: -2px;margin-bottom: -1px;font-weight: 400;position: relative;
    .icon-info{vertical-align: top;}
    &:hover{color: inherit;}
}
@include media-breakpoint-down(md) {
    .icon-info{width: 18px;height: 18px;}
    .th-icon-info{
        margin-top: 0;
    }
}

.pop-over{
    width: 312px;padding: 24px;background: #fff;border-radius: 10px;box-shadow: 0 10px 30px 0 #dee8ef;white-space: normal;letter-spacing: -0.9px;line-height: 1.6;position: absolute;left: 34px;top: 0;z-index: 1;opacity: 0;visibility:hidden;transition: all .15s;
    .pop-over-head{font-weight: 700;font-size: 18px;margin-bottom: 15px;}
    &.hover{opacity: 1;visibility: visible;}
}
@include media-breakpoint-down(md) {
    .pop-over{
        display: none;
    }
}

.location-area{
    position: relative;
    > nav{
        display: flex;align-items: center;
        .breadcrumb{margin-right: 10px;}
        .icon-info{display: block;}
    }
    > .text-gray{margin-top: 5px;font-size: 14px;font-family: 'Noto Sans KR';}
    .dropdown.ellipsis{
        position: absolute;right:0;top:1px;
    }
}
@include media-breakpoint-down(md) {
    .location-area{
        margin-bottom: 10px;border-bottom: 2px solid #000;padding-bottom: 20px;
        &.has-line{border-bottom: 0;margin-bottom: 0;}
    }
    html.fixed-category{
        .location-area{
            > nav{
                position: fixed;left: 0;bottom: 0;z-index: 9;width: 100%;padding: 0 24px 24px 24px;
                .breadcrumb{margin-right:0;font-size: 15px;background: #fff;box-shadow: 0 10px 30px 0 #dee8ef;width: 100%;padding: 17px 60px 17px 22px;border-radius: 64px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}
                .breadcrumb-item{display: inline;}
            }
        }
    }
}
.table-top{
    margin-bottom: 10px;border-bottom: 2px solid #000;padding-bottom: 10px;
    .btn + .btn{margin-left: 10px;}
    &.has-line{
        border-bottom: 0;padding-bottom: 0;
    }
}

.list-more{
    text-align: center;margin-top: 20px;
}
.dataTables_wrapper{
    border-top: 2px solid #000;
    .table{border-top: 0;}
}
.dataTables_length,
.dataTables_paginate{display: none;}

.banner-area{margin: 50px 0;}

.board + .board{margin-top: 55px;}
.board{
    .sort{
        .board-name{font-size: 16px;font-weight: 500;}
        a{color: $gray;font-weight: 500;font-size: 15px;}
        a.active{color: $black;}
        &.nav-tabs{
            display: block;border-bottom: 0;
            .nav-link{border: 0;display: inline;padding: 0;}
        }
    }
    .board-top{
        margin-bottom: 10px;display: flex;align-items: center;justify-content: space-between;
        .col-auto{padding: 0;}
    }
    .board-list{
        .empty{font-size: 14px;color: #000;font-weight: 500;}
        > ul{
            border-top: 2px solid $black;
            > li{border-bottom: 1px solid $border-color;}
        }
    }
    .board-item-normal{
        display: flex;justify-content: space-between;padding: 14px 0 15px;
        .cate{width: 102px;color: $danger;}
        .subject{
            font-size: 14px;font-weight: 400;flex: 1 1 0;padding-right: 20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
        }
        .date{width: 85px;color: $gray;}
        .period{width: 135px;color: $gray;text-align: center;}
        .hit{width: 35px;color: $gray;}
        .down{width: 35px;
            i{vertical-align: top;}
        }
        .delete{width: 34px;
            a{display: inline-block;transform: translateY(-1px);}
            i{vertical-align: middle;}
        }
        a:hover .icon-download{background-image: url('../images/icon-download-green.svg');}
    }
    .board-item-simple{
        font-size: 13px;
        > a{
            display: block;padding-right: 56px;height: 48px;display: flex;align-items: center;justify-content: space-between; position: relative;
            &::before{content: '';display: block;width: 13px;height: 7px;background: url('../images/icon-arrow-down.svg') no-repeat 50% 50%;background-size: contain;position: absolute;right:21px;top: 50%;margin-top: -3.5px;transition: all .2s .1s;}
            &:hover{text-decoration: underline;color: inherit;text-decoration: none;}
        }
        .cate{width: 100px;font-weight: 500;color: $danger;}
        .subject{
            font-size: 14px;font-weight: 400;flex: 1 1 0;padding-right: 32px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
            .badge{margin-right: 3px;}
        }
        .writer{width: 130px;color: $gray;}
        .date{width: 85px;color: $gray;}
        .period{width: 135px;color: $gray;text-align: center;}
        .hit{width: 35px;color: $gray;}
        .down{width: 35px;
            i{vertical-align: top;}
        }
    }
    .board-item-detail{
        background: #fbfafb;padding: 30px;border-top: 1px solid $border-color;display: none;
    }
    .board-content{margin-bottom: 28px;line-height: 1.6;font-size: 14px;position: relative;}
    .board-heart{margin-bottom: 30px;clear: both;}
    .board-control{font-size: 14px;}
    li.active{
        .board-item-simple{
            > a{
                &::before{transform: rotate(180deg);}
            }
        }
        .board-item-detail{
            display: block;
        }
    }
    li.board-item-best{
        .board-item-simple .subject{font-weight: 500;}
    }
}
@include media-breakpoint-down(lg) {
    .board{
        .board-item-normal{
            .delete{width: auto;padding-right: 10px;}
        }
        .board-item-simple{
            > a{
                flex-wrap: wrap;justify-content: start;height: auto;padding: 10px 25px 10px 0;
                &::before{top: 24px;right: 0;}
                > div{width: auto !important;margin-right: 12px;}
            }
            .cate{order:2}
            .subject{order:1;width: 100% !important;flex: 1 1 100%;white-space: normal;padding-right: 0;margin-bottom: 10px}
            .writer{order:3}
            .date{order:4}
            .hit{order:5}
        }
        .board-item-detail{padding: 24px;}
        .board-heart{margin-bottom: 20px;}
    }
}
@include media-breakpoint-down(md) {
    .board{
        font-size: 14px;
        &.notice{margin-top: 20px;}
        .sort{
            .board-name{font-size: 14px;}
            a{font-size: 14px;}
        }
        .board-item-normal{
            .cate{display: none;}
            .subject{white-space: normal;}
            .date{width: auto;}
            .period{width: auto;}
            .down{display: none;}
        }
        .alarmcenter &{
            .board-item-normal{
                .cate{display: block;width: 48px;}
            }
        }
    }

    /* .btn-write{position: fixed;width: 100%;bottom: 0;left: 0;z-index: 1;} */
}

.board-search {
    display: flex;justify-content: center;margin-top: 40px;
    .input-box{width: 280px;}
}

.comment{
    .comment-textarea{
        .box{
            border: 1px solid $border-color;position: relative;background: #fff;height: 58px;transition: all 0.25s .05s;
            textarea{display: block;border: 0;margin: 0;resize: none;width: 100%;height: 100%;outline:0;padding: 1rem;}
            .password{
                border-top: 1px solid $border-color;position: absolute;width: 100%;left: 0;bottom: 0;visibility: hidden;opacity: 0;transition: opacity 0.15s, visibility 0.15s;transition-delay: .3s;
                .form-control{border: 0;height: 55px;padding-left: 1rem;font-size: 13px;}
            }
            &.active{
                border-color: $primary;height: 160px;padding-bottom: 56px;
                .password{visibility: visible;opacity: 1;}
            }
            .btn-submit{
                position: absolute;right: 10px;bottom: 12px;
            }
        }
    }
    .comment-list{
        font-size: 14px;
        > ul{
            > li{position: relative;padding: 1rem 0 1rem 1.5rem;}
            > li + li{border-top: 1px solid $border-color;}
            > li:before{content: 'ㄴ';display: block;color: $gray;position: absolute;left:0;top:15px;}
        }
        .content{margin-top: 7px;line-height: 1.43;}
    }
}
.is-member{
    .comment{
        .comment-textarea{
            .box{
                .password{display: none;}
                &.active{padding-bottom: 0;}
            }
        }
    }
}

.input-box{
    position: relative;
    .btn-submit{position: absolute;right:10px;top:50%;transform: translateY(-50%);}
}
.alert-message + .input-box{margin-top: 30px;}
.alert-message-sub{margin-top: 12px;line-height: 1.6;text-align: center;}
.only-text{height: 128px;display: flex;flex-direction: column;align-items: center;justify-content: center;}

.text-error{font-size: 13px;color: $danger;display: block;margin-top: 5px;}
.text-error ~ .form-control{border-color: $danger;}

.text-valid{font-size: 13px;color: $primary;display: block;margin-top: 5px;}

.input-area-mobile{
    position: relative;z-index: 1;background: #fff;
}
.keyword-autocomplete-wrap{
    position: fixed;left: 0;top: 0;width: 100%;height: 100%;padding-top: 112px;padding-bottom: 24px;overflow-x: hidden;
    #keyword-autocomplete-area{
        overflow-x: hidden;height: 100%;
        .ui-autocomplete{position: static !important;width: 100% !important;padding: 12px 24px 0 !important;}
    }
}

body.body-half{background: #fbf9fa url('../images/bg-join.png') no-repeat 0 100%;}
#half-block{
    height: 100%;display: flex;align-items: center;
    .logo{
        position: fixed;left: 60px;top: 50px;
        a{
            display: inline-block;width: 112px;height: 23px;background: url(../images/logo.svg) no-repeat 50% 50%;background-size: contain;
        }
    }
}
.join{
    flex: 1 1 800px;max-width: 800px;height: 800px;border-radius: 10px;background-color: #ffffff;margin-left: 50%;padding: 24px;margin-right: 24px;
    .join-body{height: 100%;}
    .join-container{height: 100%;max-width:312px;margin-left: auto;margin-right: auto;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;}
    .join-container > *{width: 100%;}
    .img{
        width: 180px;height: 180px;background: url('../images/img-panda-front.png') 50% 50% no-repeat;background-size: contain;margin-bottom: 40px;margin-left: auto;margin-right: auto;
    }
    &.login .img{
        background-image: url('../images/img-panda-back.png');
    }
    .join-btns{
        text-align: center;
        a{display: flex;width: 256px;height: 56px;align-items: center;border-radius: 28px;box-shadow: 0 10px 30px 0 #dee8ef;background-color: #ffffff;margin: 0 auto;}
        a + a{margin-top: 20px;}
        span{font-size: 16px;letter-spacing: -0.8px;font-weight: 700;padding-top: 2px;}
        i{display: inline-block;width: 32px;height: 32px;margin-left: 42px;margin-right: 12px;}
        i.naver{background: url('../images/icon-naver.png') no-repeat 50% 50%;background-size: contain;}
        i.google{background: url('../images/icon-google.png') no-repeat 50% 50%;background-size: contain;}
    }
    .already{text-align: center;font-size: 14px;color: $gray;margin-top: 40px;}
    .join-submit{
        .btn{
            border-radius: 5px;box-shadow: 0 10px 30px 0 rgba(52, 213, 46, 0.3);
            &:disabled{box-shadow: 0 10px 30px 0 #d2dae0;}
        }
    }
    .agree-check{
        margin-top: 110px;margin-bottom: 26px;
        .item{
            .custom-control-inline{margin-right: 2px;}
            a{color: $gray;font-size: 0.875rem;text-decoration: underline;}
        }
        .item + .item{margin-top: 8px;}
    }
    &.join-form{
        background: #fff;
    }
}
@include media-breakpoint-down(md) {
    #half-block{
        display: block;
        .half-header{
            width: 100%;height: 56px;position: fixed;left: 0;top: 0;z-index: 99;display: flex;align-items: center;justify-content: center;background: #fff;
        }
        .logo{
            position: static;display: none;
            a{width: 112px;height: 23px;background: url('../images/logo_w.svg') no-repeat 50% 50%;background-size: contain;}
        }
        .btn-back{width: 12px;height: 23px;position: absolute;left: 24px;top: 17px;background: url('../images/icon-prev.svg') no-repeat 50% 50%;background-size: contain;}
    }
    .join{
        margin: 0;padding: 0;border-radius: 0;height: 100%;max-width: 100%;padding-top: 56px;
        .join-body{
            background: #ffffff;border-radius: 50px 0 0 0;
        }
        .join-submit{
            position: fixed;left: 0;bottom: 0;width: 100%;
            .btn{border-radius: 0;}
        }
        .agree-check{
            position: fixed;left: 24px;bottom: 70px;
        }
    }
    body.body-join-index{
        #half-block{
            .half-header{background: transparent;}
            .logo{display: block;}
            .btn-back{background: url('../images/icon-prev-white.svg') no-repeat 50% 50%;background-size: contain;}
        }
        .join{
            background: #000;padding-top: 140px;
        }
    }
    body.body-join-form{
        .join-body{padding-top: 1rem;}
        .join-container{display: block;}
    }
}

.sub-title{font-size: 18px;letter-spacing: -0.9px;}

.analysis{
    border-radius: 10px;box-shadow: 0 10px 30px 0 #dee8ef;background-color: #ffffff;margin-bottom: 80px;margin-top: 27px;
    .inner{position: relative;padding: 40px;}
    .inner + .inner{border-top: 10px solid #f7f9fd;}
    .group{padding-right: 400px;}
    .tit{font-size: 15px;line-height: 1.6;letter-spacing: -0.75px;font-weight: 700;margin-bottom: 4px;}
    .grade{
        display: flex;flex-wrap:wrap;align-items: center;position: relative;z-index: 2;
        strong{font-size: 32px;font-weight: 700;vertical-align: middle;}
        p{font-size: 15px;color: $gray;width: 100%;}
        .th-icon-info{margin-top: -2px;margin-left: 8px;}
    }
    .chart{text-align: center;}
    .chart-text{text-align: center;font-family: 'Noto Sans KR';font-size: 20px;margin-top: 36px;line-height: 1.5;}
    .chart-text-sm{text-align: center;font-family: 'Noto Sans KR';font-size: 16px;margin-top: 10px;line-height: 1.5;}
    .description{
        margin-bottom: 35px;
        p{font-size: 14px;line-height: 1.71;letter-spacing: -0.7px;word-break: keep-all;}
    }
    .competitive{
        width: 363px;border-radius: 10px;box-shadow: 0 10px 30px 0 #dee8ef;border: solid 1px #dce6ed;background-color: #ffffff;position: absolute;right: 40px;top: 56px;
        .progress-area{padding: 24px;}
        ul{background: #f7f9fd;border-top: 1px solid $default;padding: 24px;border-radius: 0 0 10px 10px;
            > li{display: flex;justify-content: space-between;align-items: center;padding: 11px 0;
                p{font-size: 14px;}
                strong{font-weight: 700;font-family: 'Lato';font-size: 18px;}
                i{font-size: 13px;}
                & + li{border-top: 1px solid $default;}
            }
        }
    }
    .panda-img{background-image: url('../images/panda-best.png');background-repeat: no-repeat;background-position: center;background-size: contain;width: 140px;height: 140px;position: absolute;left: 50%;top: -127px;margin-left: -70px;
        &.best{background-image: url('../images/panda-best.png');}
        &.good{background-image: url('../images/panda-good.png');}
        &.bad{background-image: url('../images/panda-bad.png');}
        &.soso{background-image: url('../images/panda-soso.png');}
        &.worst{background-image: url('../images/panda-worst.png');}
    }
    .top-rank{
        h3{margin-bottom: 7px;}
    }
    .top-rank-swiper{
        position: relative;
        ul{display: flex;margin-left: -12.5px;margin-right: -12.5px;}
        li{padding-left: 12.5px;padding-right: 12.5px;}
        .item{
            width: 104px;
            .thumb{border: 1px solid $default;border-radius: 5px;overflow: hidden;height: 104px;}
            .price{margin-top: 5px;font-size: 14px;}
        }
        .swiper-slide{width: auto !important;height: auto !important;}
        .swiper-scrollbar-rank{width: 100%;height: 3px;position: absolute;left: 0;bottom: -15px;}
        .swiper-scrollbar-drag{background: $default;}
    }
    .button{
        .btn{display: block;width: 100%;border-radius: 0 0 10px 10px;}
    }
    .benefit-text{display: none;}

    .is-no-member{
        height: 738px;overflow: hidden;position: relative;
        &::before{content: '';width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;
            background: rgb(255,255,255);
            background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
            background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        }
        .benefit-text{display: block;line-height: 2.5;letter-spacing: -0.8px;text-align: center;width: 100%;position: absolute;bottom: 45px;left: 0;z-index: 2;font-size: 16px;font-weight: 700;}
    }
}
.btn-analysis{margin-top: 30px;}
@include media-breakpoint-down(xl) {
    .analysis{
        .group{padding-right: 50%;}
        .competitive{width: 266px;}
    }
}
@include media-breakpoint-down(md) {
    .location-area-analysis{border-bottom: 0;}
    .analysis{
        margin-left: -15px;margin-right: -15px;
        .inner{padding: 15px;margin-top: -12px;}
        .group{padding-right: 0;}
        .competitive{position: static;width: auto;margin-bottom: 35px;
            .tit{text-align: center;}
            .progress-area{padding: 24px 16px;}
            ul{padding-left: 16px;padding-right: 16px;}
        }
        .panda-img{display: none;}
        .chart-text{font-size: 18px;}
        .description{text-align: center;margin-bottom: 25px;}
        .top-rank-swiper{
            margin-bottom: 15px;
            ul{margin: 0;}
            .swiper-container{margin: 0 -15px;}
        }
        .button{
            .btn{padding-left: 0;padding-right: 0;}
        }
    }
    .btn-analysis{
        position: fixed;width: 100%;bottom: 0;left: 0;z-index: 1;
        .btn{border-radius: 0;}
    }
}

.progress-panda{
    box-shadow: 0 10px 30px 0 #d2dae0;background: #fff;border-radius: 18px; width: 100%;height: 24px;margin: 46px auto 16px auto;position: relative;
    &::before{
        content: '';width: 100%;height: 100%;border: 1px solid #dee8ef;position: absolute;left: 0;top: 0;right: 0;bottom: 0;border-radius: 18px;
    }
    .progress-panda-bar{
        position: relative;height: 100%;border-radius: 18px;width:24px;transition: width 1.3s cubic-bezier(0.1, 0.76, 0.33, 0.99);
        background: rgb(44,227,38);
        background: -moz-linear-gradient(270deg, rgba(44,227,38,1) 0%, rgba(63,229,229,1) 100%);
        background: -webkit-linear-gradient(270deg, rgba(44,227,38,1) 0%, rgba(63,229,229,1) 100%);
        background: linear-gradient(270deg, rgba(44,227,38,1) 0%, rgba(63,229,229,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ce326",endColorstr="#3fe5e5",GradientType=1);
        .progress-panda-label{
            display: block;color: $primary;position: absolute;top: -29px;right: -15px;font-size: 18px;font-weight: 700;font-family: 'Gotham';
        }
        &::before{content: '';width: 24px;height: 24px;border-radius: 50%;position: absolute;right:0;top:0;background: $primary;}

    }
    &.progress-panda-danger{
        .progress-panda-bar{
            background:rgba(243, 94, 94, 1);
            background: -moz-linear-gradient(270deg, rgba(243, 94, 94, 1) 0%, rgba(247, 210, 64, 1) 100%);
            background: -webkit-linear-gradient(270deg, rgba(243, 94, 94, 1) 0%, rgba(247, 210, 64, 1) 100%);
            background: linear-gradient(270deg, rgba(243, 94, 94, 1) 0%, rgba(247, 210, 64, 1) 100%);
            .progress-panda-label{color: $danger;}
            &::before{background: #e83c3c;}
        }
    }
}
@-webkit-keyframes progressActive {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 35px 35px
    }
}
@keyframes progressActive {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 35px 35px
    }
}
@include media-breakpoint-down(md) {
    .progress-panda{width: 280px;}
}

.ai-donut{border-top: 1px solid $border-color;border-bottom: 1px solid $border-color;padding: 50px 0;margin-top: 36px;}
.chart-donut-wrap{
    position: relative;width: 300px;margin: 0 auto;
    .name{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);font-size: 16px;}
    .num-left{position: absolute;left: 0;top: 50%;transform: translate(0,-50%);font-family: 'Gotham';font-size: 20px;font-weight: 700;}
    .num-right{position: absolute;right: 0;top: 50%;transform: translate(0,-50%);font-family: 'Gotham';font-size: 20px;font-weight: 700;color: $primary;}
}
.progress-wrap{display: flex;justify-content: center;padding-bottom: 30px;width: 280px;margin: 0 auto;}
.progress-panda-vertical{
    background: #edf0f7;border-radius: 16px; width: 16px;height: 160px;position: relative;
    .progress-panda-bar{
        position: absolute;left: 0;bottom: 0;height: 0;border-radius: 16px;width:100%;transition: height 1s cubic-bezier(0.1, 0.76, 0.33, 0.99);background: $primary;}
    .progress-panda-title{
        color: $gray;font-size: 15px;position: absolute;left: 50%;bottom: -30px;width: 40px;text-align: center;transform: translateX(-50%);white-space: nowrap;font-family: 'Noto Sans KR';
    }
    & + .progress-panda-vertical{margin-left: 27px;}
}
@include media-breakpoint-down(md) {
    .ai-donut{padding: 40px 0;}
    .ai-donut > .row .col-12 + .col-12{margin-top: 43px;}
    .progress-panda-vertical{
        width: 13px;height: 130px;
    }
}

#util-block{
    .logo{
        position: fixed;left: 60px;top: 50px;
        a{
            display: inline-block;width: 112px;height: 23px;background: url(../images/logo.svg) no-repeat 50% 50%;background-size: contain;
        }
    }
    .util-container{width: 1008px;margin: 0 auto;padding: 60px 24px;}
    .util-title{font-size: 18px;font-weight: 500;margin-bottom: 1rem;}
}
@include media-breakpoint-down(xl) {
    #util-block{
        padding-top: 56px;
        .util-header{
            width: 100%;height: 56px;position: fixed;left: 0;top: 0;z-index: 99;display: flex;align-items: center;justify-content: center;background: #fff;
        }
        .logo{
            position: static;
            a{width: 112px;height: 23px;background: url('../images/logo.svg') no-repeat 50% 50%;background-size: contain;}
        }
        .util-container{width: auto;padding: 1rem 24px;}
    }
}

.terms{font-family: 'Noto Sans KR';font-size: 13px;line-height: 1.85;font-weight: 400;}

.welcome{
    width: 360px;height: 220px;box-shadow: 0 -10px 30px 0 #dee8ef;background-color: #ffffff;text-align: center;position: fixed;bottom: 0;right: 24px;padding: 40px 24px 0;border-radius: 20px 20px 0 0;transform: translateY(100%);transition: transform .5s .15s ease-out;
    &::before{content: '';display: inline-block;background: url('../images/img-panda-computer.png') no-repeat 50% 50%;width: 100px;height: 100px;background-size: contain;}
    p{font-size: 16px;font-weight: 500;margin-top: 14px;}
    .show &{transform: translateY(0);}
}
@include media-breakpoint-down(md) {
    .welcome{width: 100%;right: 0;}
}

.btn-about{margin-top: 16px;}

.input-area.my{margin-top: -10px;}
.banner-api{
    background: #fef09f;height: 100px;width: 100%;position: absolute;bottom: 20vh;left: 0;font-size: 16px;line-height: 1.5;font-weight: 700;letter-spacing: -0.8px;

    a{
        display: block;position: relative;width: 100%;height: 100%;display: flex;align-items: center;padding: 0 24px;
        &::before{content: '';background: url('../images/img-panda-sm.png') no-repeat 50% 50%;background-size: contain;width: 85px;height: 97px;position: absolute;right: 4px;bottom: -10px;transition: all .2s .03s ease-in-out;}
    }
    a:hover{color: #000;}
    a:hover::before{transform: translate(-10px, -10px);}
}

.text-truncate{
    &.max-width-product{max-width:200px;}
}
@include media-breakpoint-down(md) {
    .text-truncate{
        &.max-width-product{max-width:90px;}
    }
}

.mymall{
    .grade{
        display: flex;flex-wrap:wrap;align-items: center;position: relative;z-index: 2;
        strong{font-size: 32px;font-weight: 700;vertical-align: middle;}
        p{font-size: 15px;color: $gray;width: 100%;}
        .th-icon-info{margin-top: -3px;margin-left: 8px;}
    }
    .chart{text-align: center;}
    .btn-group{
        margin-bottom: 50px;
        .btn{background: #fff;border: 1px solid #d2dae0;color: $gray;border-radius: 0;}
        .btn:not(:disabled):not(.disabled).active{background: #edf0f7;}
    }
    .table-area{margin-top: 30px;}
    .table .text-truncate{max-width:260px;}
}

.product-thumb{width: 32px;height:32px;vertical-align: middle;margin-right: 10px;}

.table-title{font-size: 16px;font-weight: 700;margin-bottom: 13px;}

.icon-increase{width: 0;height: 0;border-style: solid;border-width: 0 4px 6px 4px;border-color: transparent transparent $primary transparent;display:inline-block;vertical-align: middle;transform: translateY(-2px)}
.icon-decrease{width: 0;height: 0;border-style: solid;border-width: 6px 4px 0 4px;border-color: $danger transparent transparent transparent;display:inline-block;vertical-align: middle;transform: translateY(-2px)}

@include media-breakpoint-down(md) {
    body.body-mymall{
        #center-block{position: relative;padding-top: 116px;background: #fff;}
        .banner-api{top: 0;left: 0;bottom: auto;}
        #center-block + #container-block{border-top: 0;padding-top: 0;}
    }
    .mymall{
        .btn-group{
            margin-bottom: 16px;
        }
        .table .text-truncate{max-width:140px;}
    }
}

.result-table{
    border-top: 2px solid #000;
    .result-table-head{
        font-weight: 700;font-size: 15px;margin-left: -20px;margin-right: -20px;
        [class^=col]{padding: 15px 20px 13px;}
    }
    .box{
        height: 64px;border-radius: 5px;box-shadow: 0 10px 30px 0 #dee8ef;background-color: #ffffff;font-weight: 700;
        .row{align-items: center;padding: 10px 0;height: 100%;}

        span{font-size: 15px;padding-left: 20px;font-weight: 700;letter-spacing: -0.75px;}
        strong{font-size: 20px;font-weight: 700;letter-spacing: -1px;display: block;line-height: 1.1;}
        i{font-size: 13px;letter-spacing: -0.65px;font-weight: 400;display: block;font-style: normal;}
    }
    .desc{padding: 18px 20px 30px;line-height: 1.71;letter-spacing: -0.7px;font-size: 14px;word-break: keep-all;}
}

@include media-breakpoint-down(sm) {
    .result-table{
        padding-top: 45px;
        .box{
            height: 178px;
            .row{
                position: relative;padding: 0;
                &::before{content: '';height: 1px;background: $default;position: absolute;left: 30px;top: 50%;right: 30px;}
                &::after{content: '';width: 1px;background: $default;position: absolute;left: 50%;top: 16px;bottom: 16px;}
            }
            .text-left{position: absolute;left: -20px;top: -32px;}
            .text-center{max-width:50%;height: 50%;display: flex;align-items: center;justify-content: center;flex-direction: column;}
            b{color: $gray;font-size: 14px;letter-spacing: -0.65px;font-weight: 400;margin-bottom: 5px;}
        }
        .desc{margin-bottom: 40px;padding-left: 0;padding-right: 0;}
    }
}

.data-empty{
    padding: 130px 24px;text-align: center;
    span{display: inline-block;width: 200px;height: 200px;background: url('../images/img-panda-error.png') 50% 50% no-repeat;background-size: contain;}
    p{margin-top: 30px;font-size: 15px;}
}
@include media-breakpoint-down(md) {
    .data-empty{
        padding: 50px 24px;
    }
}

body.body-error{
    overflow: hidden;
    #util-block,
    .util-container{height: 100%;}
    #util-header{position: fixed;left: 60px;top: 50px;}
    .error{
        height: 100%;display: flex;flex-direction: column;justify-content: center;align-items:center;
        strong{font-family: 'Gotham';font-weight: 700;color: $danger;font-size: 50px;letter-spacing: -2.5px;}
        p{font-size: 15px;margin: 5px 0 55px;}
        .gohome{ width: 256px;height: 56px;border-radius: 28px;box-shadow: 0 10px 30px 0 #dee8ef;background-color: #ffffff;font-size: 16px;letter-spacing: -0.8px;color: #000;line-height: 56px;text-align: center;}
        .img{
            width: 310px;height: 310px;background: url('../images/img-panda-error.png') 50% 50% no-repeat;background-size: contain;position: absolute;bottom: -400px;left: 50%;transform: translateX(-50%);transition: all 1s .05s cubic-bezier(0.25, 0.1, 0.48, 1.24);
            &.active{
                bottom: -36px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    body.body-error{
        .error{
            padding-bottom: 70px;
            strong{font-size: 30px;}
            p{margin-top: 2px;}
            .img{
                width: 200px;height: 200px;
                &.active{
                    bottom: -25px;
                }
            }
        }
    }
}

.summary{
    padding: 20px 0;border-bottom: 1px solid $default;
    .info{
        span{font-size: 14px;display: block;}
        strong{font-size: 18px;font-weight: 700;display: block;}
        i{font-size: 13px;color: #000;font-weight: 400;}
        .lang-kor{font-size: 16px;}
    }
    .info + .info{margin-top: 18px;}
    .report-keyword &{
        strong{font-size: 22px;line-height: 1.3;}
        i{font-size: 14px;}
    }
}
.summary-detail{
    .tit{font-size: 16px;font-weight: 700;margin-bottom: 8px;margin-top: 25px;}
    .tit-data{
        margin-top: -5px;margin-bottom: 13px;
        strong{font-size: 18px;}
        i{font-size: 13px;font-weight: 400;font-style: normal;color: #000;}
    }
    .info{
        margin-bottom: 15px;
        span{font-size: 14px;display: block;font-family: 'Noto Sans KR';}
        strong{font-size: 18px;font-weight: 700;display: block;}
        i{font-size: 13px;color: #000;font-weight: 400;}
    }
    .table th,
    .table td{padding-left: 15px;letter-spacing: -0.7px;}
    .table thead th{font-size: 14px;}
    .table b{margin-right: 2px;font-weight: 700;}
}
.report{
    .table:not(.table-fixed) .text-truncate{max-width:350px;}
}
@include media-breakpoint-down(md) {
    .summary{
        padding: 20px 0 2px;border-bottom: 1px solid $default;
        .info{
            .col-6{padding-bottom: 18px;}
        }
        .info + .info{margin-top: 0;}
    }
    .report{
        .table:not(.table-fixed) .text-truncate{max-width:125px;}
    }
}

body.body-about{
    #container-block{
        position: relative;padding-top: 129px;
        &::before{content: '';width: 100%;height: 680px;background: #000 url('../images/bg-about.png') no-repeat 100.3% 100.5%;display: block;position: absolute;left: 0;top: 0;z-index: -1;}
    }
}
.about{
    .title-area{
        margin-bottom: 15px;
        h2 span{color: #fff;letter-spacing: -1.6px;font-size: 32px;font-weight: 400;}
    }
    .txt{color: $gray;font-size: 15px;letter-spacing: -0.75px;line-height: 1.6;word-break: keep-all;}
    .text-primary{display: block;font-size: 20px;letter-spacing: -1px;font-weight: 400;margin: 77px 0 15px;}
    .service{
        margin-top: 87px;
        li + li{margin-top: 40px;}
        .row{margin-left: -25px;margin-right: -25px;
            [class^=col]{padding-left: 25px;padding-right: 25px;}
            .col-md-6:nth-of-type(1){flex-basis: 51.5%;max-width:100%;}
            .col-md-6:nth-of-type(2){flex-basis: 48.5%;max-width:100%;}
        }
        .service-card{display: flex;flex-direction: column;justify-content: space-between;border-radius: 10px;border: 1px solid #edf0f7;position: relative;box-shadow: 0 10px 30px 0 #d2dae0;background-color: #ffffff;}
        .title{font-size: 18px;font-weight: 700;padding: 30px 0 0 30px;line-height: 1;}
        .chart{text-align: center;margin-top: -15px;}
        .info{
            display: flex;flex-direction: column;justify-content: flex-end;align-items: flex-start;height: 100%;padding-bottom: 40px;border-bottom: 1px solid #d2dae0;
            p{margin-bottom: 20px;font-size: 15px;line-height: 1.6;word-break: keep-all;}
        }
    }
}
@include media-breakpoint-down(md) {
    body.body-about{
        #container-block{
            padding-top: 0;
            &::before{display: none;}
        }
    }
    .about{
        .mobile-group{
            margin: 0 -24px;padding: 65px 24px 100px;background: #000 url('../images/bg-about.png') no-repeat 100.3% 100.5%;background-size: contain;
        }
        .title-area{display: block;}
        .service{
            margin-top: -28px;
            li + li{margin-top: 24px;}
            .row{
                .col-md-6:nth-of-type(1){flex-basis: 100%;}
                .col-md-6:nth-of-type(2){flex-basis: 100%;}
            }
            .title{font-size: 15px;padding: 20px 0 0 20px;line-height: 1;}
            .chart{margin-top: -12px;}
            .info{
                margin-top: 24px;height: auto;
            }
        }
    }
}

.ai{
    .chart{text-align: center;}
    .chart-text{text-align: center;font-family: 'Noto Sans KR';font-size: 20px;margin-top: 36px;line-height: 1.5;}
    .chart-text-sm{text-align: center;font-family: 'Noto Sans KR';font-size: 16px;margin-top: 10px;line-height: 1.5;}
}

@include media-breakpoint-down(md) {
    .ai{
        .chart-text{font-size: 18px;}
    }
}

[class^=level-]{display: inline-block;vertical-align: middle;width: 16px;height: 16px;background-repeat: no-repeat;background-position: 50% 50%;background-origin: contain;margin-right: 3px;transform: translateY(-2px);}
.level-1{background-image: url('../images/member-level1.svg');}
.level-2{background-image: url('../images/member-level2.svg');}
.level-3{background-image: url('../images/member-level3.svg');}
.level-4{background-image: url('../images/member-level4.svg');}
.level-5{background-image: url('../images/member-level5.svg');}

.btn-join-go{
    width: 312px;height: 64px;background: $primary;font-size: 18px;font-weight: 700;line-height: 63px;letter-spacing: -0.9px;text-align: center;color: #ffffff;
    border: 0;position: absolute;left: 50%;bottom: 40px;transform: translateX(-50%);border-radius: 5px;box-shadow: 0 10px 30px 0 rgba(52, 213, 46, 0.3);
}
@include media-breakpoint-down(md) {
    .btn-join-go{
        width: 280px;height: 64px;font-size: 15px;bottom: 16px;
    }
}

.mypage-top{
    margin-bottom: 40px;
    .box{
        border-radius: 5px;box-shadow: 0 10px 30px 0 #dee8ef;background-color: #ffffff;padding: 40px;color: #000;font-size: 14px;margin-bottom: 35px;
        dl{
            font-weight: 400;
            dt,
            dd{display: inline;}
            dt{font-weight: 400;}
            dd + dt{margin-left: 10px;}
            a{text-decoration: underline;color: $primary;}
        }
    }
}
@include media-breakpoint-down(lg) {
    .mypage-top{
        margin-bottom: 24px;padding-top: 24px;
        .box{
            padding: 16px 24px 24px;color: #000;margin-bottom: 22px;
            .row{flex-direction: column;align-items: flex-start !important;}
            dl{
                margin-top: 22px;margin-bottom: 8px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .mypage-top{
        margin-left: -24px;margin-right: -24px;padding-left: 24px;padding-right: 24px;background: #fbfafb;
        .box{
            font-size: 13px;
            .user{font-size: 14px;}
        }
    }
}

.table-text{color: $gray;margin-top: 10px;font-size: 14px;}
@include media-breakpoint-down(md) {
    .table-text{font-size: 12px;}
}

.alarmcenter{
    .data-empty{
        .img{background: url(../images/img-panda-search.png) no-repeat 50% 50%;background-size: contain;}
    }
    .alarmcenter-tab{
        margin-bottom: 48px;
    }
}
@include media-breakpoint-down(md) {
    .alarmcenter{
        .alarmcenter-tab{
            margin-top: 1rem;
        }
    }
}

.category-select{
    margin: 26px -1.5rem -1.5rem;
    ul{border-radius: 0 0 10px 10px;overflow: hidden;}
    li{border-top: 1px solid $default;}
    a{font-size: 13px;line-height: 1.85;letter-spacing: -0.65px;color: #000;display: block;padding: 1rem 1.5rem;@include text-truncate();}
    a:hover{background-color: #f7f9fd;}
}

@include media-breakpoint-down(md) {
    .modal-include-select{
        .modal-content{
            position: fixed;bottom: 0;left: 0;width: 100%;border-radius: 10px 10px 0 0;border: 0;
        }
        .modal-header{display: none;}
        .alert-message{text-align: left;font-size: 18px;letter-spacing: -0.9px;line-height: 1.67;}
        .category-select{
            margin: 13px 0 0 0;
            li{border-top: 0;}
            a{padding-left: 0;padding-right: 0;line-height: 1.1;}
            a:hover{background: inherit;}
        }
    }
}

.img-panda-search{width:140px;height:140px;display: inline-block;background: url('../images/img-panda-search.png') no-repeat 50% 50%;background-size: contain;}

.box-ranking{
    li{
        border: 1px solid $default;text-align: center;line-height: 30px;font-size: 14px;
        a{display: block;}
        &.active{
            border: 1px solid $primary;color: $primary;
        }
    }
    li + li{margin-top: 10px;}
}

.chart-frame{height: 200px;border: 1px solid $default;display: flex;align-items: center;}

.related-keyword{
    display: flex;flex-wrap: wrap;margin-bottom: -10px;
    .item{
        height: 30px;line-height: 30px;font-size: 14px;background: $light;padding: 0 10px;border-radius: 10px;margin-right: 10px;margin-bottom: 10px;
        span{color: #666;}
        strong{font-size: 700;}
    }
}
.btn-modal-title-aside{border-radius: 50px;font-size: 13px;height: 24px;line-height: 23px;padding: 0 9px;margin-left: 6px;transform: translateY(-1px);
    i{transform: translateY(1px);}
}
.btn-keyword-anlysis{border-radius: 0;}

.table-wrap{
    position: relative;
    .img-keyword{
        &::before{
            content: '';display: block;background: url('../images/img-keyword-text.png') no-repeat 50% 50%;width: 163px;height: 24px;position: absolute;left: 0;top: -39px;
        }
        &::after{
            content: '';display: block;background: url('../images/img-keyword-arr.png') no-repeat 50% 50%;width: 57px;height: 103px;position: absolute;left: -55px;top: -20px;
        }
    }
}
@include media-breakpoint-down(md) {
    .table-wrap{
        .img-keyword{display: none;}
    }
}