.dashboard-title{
    margin-bottom: 20px;margin-top: 50px;
    .title{font-size: 18px;font-weight: 700;color: #000;}
    .desc{font-size: 14px;color: $gray;margin-top: 3px;}
}
.dashboard-card{
    margin-bottom: 50px;
    a{display: flex;flex-direction: column;justify-content: space-between;height: 350px;border-radius: 10px;background-color: #fbfafb;transition: all .3s ease-in-out;}
    a:hover{
        box-shadow: 0 10px 30px 0 #d2dae0;background-color: #ffffff;
    }
    .dashboard-title{padding: 20px 20px 0;margin-bottom: 0;margin-top: 0;}
    .chart{max-height:100%;text-align: center;display: flex;align-items: flex-end;justify-content: center;}
}
/* body.body-dashboard {
    #container-block{
        background: url('../images/bg-main.png') no-repeat 50% 0;background-size: 1720px auto;
    }
} */

@include media-breakpoint-down(md) {
    body.body-dashboard{
        /* #container-block{
            background-image: url('../images/bg-main-m.png');background-size: contain;
        } */
        .title-area{
            display: block;padding-top: 25px;
            h2 strong{display: none;}
            h2 span{font-size: 18px;}
        }

        .logo,
        #gnb-mobile,
        .right-menu{opacity: 0;display: none;}
    }
    .dashboard-title{
        .title{font-size: 16px;}
    }
    .dashboard-card{
        a{height: 280px;box-shadow: 0 10px 30px 0 #d2dae0;background-color: #fbfafb;}
        .col-12 + .col-12{margin-top: 1rem;}
        .chart{height: 200px;}
    }
}
@include media-breakpoint-down(sm) {
    body.body-dashboard{
        /* #container-block{
            background: url('../images/bg-main-mobile.png') no-repeat 50% 0;
        } */
        #container-block{
            background-position: 60% -40px;
        }
    }
}

.main-type-1{
    .main-top{
        height: 523px;display: flex;align-items: center;justify-content: center;
        p{font-size: 14px;letter-spacing: -.7px;margin-top: 10px;}
        .input-box{
            max-width: 480px;margin: 80px auto 0;
            .form-control{height: 56px;border-color: $default;
                &:focus{border-color: $primary;}
            }
        }
    }
    .main-bottom{
        background: #fbfafb;padding: 40px 0;
    }
    @include media-breakpoint-down(md) {
        .main-bottom{
            padding-top: 24px;
        }
    }
    .main-logo{
        text-align: center;
    }
}

.main-type-2{
    .main-top{
        padding-top: 80px;
        .input-box{
            max-width: 500px;margin: 10px auto 20px;
            .form-control{height: 43px;border-color: $primary;border-radius: 50rem;padding-left: 26px;padding-right: 50px;
                &:focus{border-color: $primary;}
            }
            button{position: absolute;right: 0;top: 0;border: 0;background: transparent;height: 100%;width: 50px;}
        }
    }
    .main-logo{
        text-align: center;
    }
}

.new-keyword{
    padding: 24px 32px;border-radius: 10px;margin-top: 10px;border: solid 1px #edf0f7;background-color: #ffffff;
    strong{display: block;font-size: 18px;}
    p{font-size: 14px;color: $gray;margin-top: 2px;}
    ul{
        display: flex;flex-wrap: wrap;margin-left: -3px;margin-right: -3px;margin-top: 24px;
        li{width: 25%;padding: 0 3px;line-height: 2;@include text-truncate();}
    }
}
@include media-breakpoint-down(md) {
    .new-keyword{
        padding: 20px 24px;
        ul{
            li{width: 50%;}
        }
    }
}

.quick-banner{
    a{
        display: flex;align-items: center;padding: 0 32px;background: #fff;border: 1px solid $light;border-radius: 10px;min-height: 117px;transition: all .22s ease-in-out;
        > div{flex: 0 1 100%;}
        &:hover{box-shadow: 0 10px 30px 0 #dee8ef;
            strong::before{background: url('../images/icon-next-green.svg') no-repeat 0 0;}
        }
    }
    p{font-size: 15px;color: $primary;margin-bottom: 8px;}
    strong{font-size: 24px;font-weight: 700;letter-spacing: -1.2px;display: block;color: #000;position: relative;
        &::before{content: '';display: block;width: 7px;height: 13px;background: url('../images/icon-next.svg') no-repeat 0 0;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
    }
}
@include media-breakpoint-down(md) {
    .quick-banner{
        a{
            padding: 0 24px;min-height: 110px;
        }
        p{font-size: 14px;}
        strong{font-size: 18px;}
    }

}

.open-banner{
    text-align: center;
    .d-inline-flex{background: #f7f9fd;border-radius: 10px;padding: 12px 24px;text-align: left;}
    .icon-chart{margin-right: 12px;}
    p{font-size: 16px;letter-spacing: 0;}
    span{color: $gray;font-size: 12px;}
}

.main-inquiry{margin-top: 65px;}