@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}
#side{
    .logo a{display: inline-block;width: 141px;height: 21px;background: url('../images/logo.png') no-repeat 50% 50%;background-size: contain;}
    .util{
        margin-top: 75px;
        > ul > li{
            & + li{margin-top: 22px;}
            > a{
                color: $gray;
            }
        }
    }
}
.gnb{
    nav{
        display: block;
        > ul{
            display: block;
            > li > a{
                display: block;color: $gray;font-size: 16px;line-height: 3.56;letter-spacing: -0.9px;font-weight: 700;font-family: 'NanumSquare';
            }
            > li:not(.active) a:hover{
                color: #D2DAE0;
                -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                -webkit-mask-size: 200%;
                animation: shine 2s infinite;
            }
            > li.active a{
                color: $primary;
                &::after{
                    content: '';display: inline-block;vertical-align: text-bottom;width: 8px;height: 8px;border-radius: 50%;background: $primary;margin-left:6px;
                }
            }
        }
    }
}
@include media-breakpoint-down(xl) {
    #side{
        .logo a{width: 120px;}
    }
}
@include media-breakpoint-down(lg) {
    .gnb{
        justify-content: center;
    }
    .util-wrap{
        background: #000;position: fixed;width: 300px;height: 100vh;left: -300px;z-index: 1002;top: 0;padding: 0 2rem;
        transition: left .3s ease-in-out;
    }
    html.open-side .util-wrap{
        left: 0;
    }
}
@include media-breakpoint-down(md) {
    #side{
        padding: 0;
        .logo{height: 56px;display: flex;align-items: center;justify-content: center;}
    }
    .gnb{
        height: 48px;display: flex;align-itmes:center;justify-content: flex-start;position: relative;
        &::before{content: '';width: 100%;height: 1px;background: $border-color;position: absolute;left: 0;bottom: 0;}
        nav{
            > ul{
                display: flex;
                > li {
                    width: auto;
                    a{color: $black;font-size: 15px;padding: 0 10px;font-weight: 700;line-height: 48px;}
                    &.active a{
                        &::after{
                            width: 100%;height: 4px;border-radius: 4px;position: absolute;bottom: 0;left: 0;margin: 0;
                        }
                    }
                }
                > li:not(.active) a:hover{
                    color: inherit;
                    animation: none;
                }
            }
        }
    }
}

.hamburger{display: none;}
/* 1336 이하 */
@include media-breakpoint-down(md) {
    .hamburger{
        display: block;position: absolute;top: 17px;left: 24px;z-index: 1004;
        button {
            position: relative;width: 21px;height: 21px;border: none;background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) no-repeat center;background: linear-gradient(to bottom, #000, #000) no-repeat center;background-size: 100% 2px;transition: background-size 0.3s ease-in-out;cursor: pointer;outline: none;
        }
        button:before,
        button:after {
            display: block;content: '';position: absolute;left: 0;width: 100%;height: 2px;background-color: #000;transition: transform 0.3s ease-in-out;
        }
        button:before {
            top: 0;
        }
        button:after {
            bottom: 0;
        }
    }
    html.open-side{
        overflow: hidden;
        .hamburger{
            button{
                background-size: 0 0;
            }
            button:before {
                transform: translateY(200%) rotate(45deg);top: 6px;background-color: #fff;
            }
            button:after {
                transform: translateY(-200%) rotate(-45deg);bottom: 5px;background-color: #fff;
            }
        }
    }
}