@charset "UTF-8";
/*
    [z-index]
    #side : 1001
    #center : 1000
    #side-mobile : 1002
    #dim : 1003


    [breakpoint]
    xxs: 0,
    xs: 360px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
    xxl: 1600px
*/
html,
body {
  height: 100%;
  scrollbar-face-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: #d2dae0;
  scrollbar-3dlight-color: none;
  scrollbar-shadow-color: #d2dae0;
  scrollbar-darkshadow-color: none;
  scrollbar-color: #d2dae0 transparent;
  scrollbar-width: thin;
}

body {
  min-width: 320px !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #d2dae0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}

#side-block {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#center-block {
  background: #fcfafa;
  padding: 40px 24px 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#container-block {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#center-block + #container-block {
  border-top: 1px solid #d2dae0;
  padding-top: 50px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
}

#footer-block {
  background: #fbfafb;
  border-top: 1px solid #edf0f7;
  padding: 40px 0;
}

#footer-block .footer {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

#footer-block .menu {
  margin-bottom: 15px;
}

#footer-block .menu li {
  display: inline;
  margin-right: 16px;
}

#footer-block .menu li a {
  color: #989da0;
  font-size: 14px;
}

#footer-block .info {
  font-size: 12px;
  color: #989da0;
  line-height: 1.67;
  font-family: 'Noto Sans KR';
}

#footer-block .copyright {
  font-size: 12px;
  color: #989da0;
  line-height: 1.67;
  font-family: 'Lato';
  letter-spacing: 0;
}

@media (min-width: 992px) {
  body {
    min-width: 1280px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  #side-block {
    width: 200px;
    padding: 50px 40px;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    background: #000;
    z-index: 1001;
  }
  #center-block {
    width: 320px;
    padding: 50px 40px;
    left: 200px;
    background: #fff;
    bottom: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-right: 1px solid #d2dae0;
  }
  #center-block .btn-collapse {
    position: absolute;
    right: -42px;
    top: 178px;
  }
  #center-block .btn-collapse a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    background: #000;
    position: relative;
  }
  #center-block .btn-collapse a::before {
    content: '';
    display: block;
    background: url("../images/icon-pre.svg") no-repeat 50% 50%;
    background-size: contain;
    width: 10px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -5px;
    -webkit-transition: all .2s .1s;
    transition: all .2s .1s;
  }
  #container-block {
    padding: 50px 87px;
    margin-left: 200px;
    min-width: 759px;
  }
  #center-block + #container-block {
    margin-left: 520px;
    border-top: 0;
  }
  #footer-block {
    padding: 50px 87px;
    margin-left: 200px;
    min-width: 759px;
  }
  html.is-collapsed #center-block {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  html.is-collapsed #center-block .btn-collapse a::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  html.is-collapsed #center-block + #container-block {
    margin-left: 200px;
  }
}

/* @include media-breakpoint-up(xxl) {
    #side-block{
        width: 280px;padding: 50px 60px;
    }
    #center-block{
        width: 456px;padding: 50px 72px;left: 280px;
    }
    #container-block{
        margin-left: 280px;padding: 50px 111px;
    }
    #center-block + #container-block{
        margin-left: 736px;
    }
    #footer-block{
        margin-left: 280px;padding: 50px 111px;
    }

    html.is-collapsed{
        #center-block + #container-block{
            margin-left: 280px;
        }
    }
} */
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

#side .logo a {
  display: block;
  width: 112px;
  height: 19px;
  background: url("../images/logo_w.svg") no-repeat 50% 50%;
  background-size: contain;
  vertical-align: top;
}

#side .util {
  margin-top: 75px;
}

#side .util > ul > li + li {
  margin-top: 22px;
}

#side .util > ul > li > a {
  color: #989da0;
  -webkit-transform: skew(-0.001deg);
          transform: skew(-0.001deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#side .util > ul > li > a i {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.gnb {
  margin-top: 40px;
}

.gnb nav {
  display: block;
}

.gnb nav > ul {
  display: block;
}

.gnb nav > ul > li > a {
  display: block;
  color: #989da0;
  font-size: 16px;
  line-height: 3;
  letter-spacing: -0.9px;
  font-weight: 500;
  font-family: 'Noto Sans KR';
  -webkit-transform: skew(-0.001deg);
          transform: skew(-0.001deg);
}

.gnb nav > ul > li:not(.active) a:hover {
  color: #D2DAE0;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
}

.gnb nav > ul > li.active a {
  color: #34D52E;
}

.gnb nav > ul > li.active a::after {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #34D52E;
  margin-left: 6px;
}

#gnb-mobile {
  position: absolute;
  left: -99999px;
  margin-top: 0;
}

@media (max-width: 991.98px) {
  #side {
    padding: 0;
  }
  #side .logo {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #side .logo a {
    background-image: url("../images/logo.svg");
  }
  #side .util > ul > li > a {
    color: #000;
  }
  .side-group {
    -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
            box-shadow: 0 10px 30px 0 #dee8ef;
    background-color: #fff;
    position: fixed;
    width: 248px;
    height: 100vh;
    left: -300px;
    z-index: 1002;
    top: 0;
    padding: 56px 24px 0;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
  }
  html.open-side .side-group {
    left: 0;
  }
  .gnb nav > ul > li > a {
    color: #000;
    line-height: 3;
  }
  #gnb-mobile {
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-itmes: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    left: auto;
  }
  #gnb-mobile::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #d2dae0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  #gnb-mobile nav {
    padding-left: 12px;
  }
  #gnb-mobile nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #gnb-mobile nav > ul > li {
    width: auto;
  }
  #gnb-mobile nav > ul > li a {
    font-size: 15px;
    padding: 0 10px;
    font-weight: 500;
    line-height: 48px;
  }
  #gnb-mobile nav > ul > li.active a::after {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
  }
  #gnb-mobile nav > ul > li:not(.active) a:hover {
    color: inherit;
    -webkit-animation: none;
            animation: none;
  }
}

.hamburger {
  display: none;
}

/* 1336 이하 */
@media (max-width: 991.98px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 17px;
    left: 24px;
    z-index: 1004;
  }
  .hamburger button {
    position: relative;
    width: 21px;
    height: 21px;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) no-repeat center;
    background: linear-gradient(to bottom, #000, #000) no-repeat center;
    background-size: 100% 2px;
    -webkit-transition: background-size 0.3s ease-in-out;
    transition: background-size 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
  }
  .hamburger button:before,
  .hamburger button:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .hamburger button:before {
    top: 0;
  }
  .hamburger button:after {
    bottom: 0;
  }
  html.open-side {
    overflow: hidden;
  }
  html.open-side .hamburger button {
    background-size: 0 0;
  }
  html.open-side .hamburger button:before {
    -webkit-transform: translateY(200%) rotate(45deg);
            transform: translateY(200%) rotate(45deg);
    top: 6px;
  }
  html.open-side .hamburger button:after {
    -webkit-transform: translateY(-200%) rotate(-45deg);
            transform: translateY(-200%) rotate(-45deg);
    bottom: 5px;
  }
}

@media (max-width: 991.98px) {
  #center {
    display: block;
    max-width: 312px;
    margin: 0 auto;
  }
}

.btn-top {
  position: fixed;
  right: -50px;
  bottom: 24px;
  z-index: 10;
  -webkit-transition: all .25s .2s ease-in-out;
  transition: all .25s .2s ease-in-out;
}

.btn-top a {
  display: block;
  width: 48px;
  height: 48px;
  background: url("../images/btn-top.svg") no-repeat 50% 50%;
}

html.is-scrolled .btn-top {
  right: 24px;
}

.dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.valid,
.valid::-webkit-input-placeholder {
  color: #5786f3;
}

.valid,
.valid:-ms-input-placeholder {
  color: #5786f3;
}

.valid,
.valid::-ms-input-placeholder {
  color: #5786f3;
}

.valid,
.valid::placeholder {
  color: #5786f3;
}

.invalid,
.invalid::-webkit-input-placeholder {
  color: #e96b69;
}

.invalid,
.invalid:-ms-input-placeholder {
  color: #e96b69;
}

.invalid,
.invalid::-ms-input-placeholder {
  color: #e96b69;
}

.invalid,
.invalid::placeholder {
  color: #e96b69;
}

.tab-area {
  margin-bottom: 36px;
}

.tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 328px;
  background: #edf0f7;
  border-radius: 3em;
  position: relative;
  margin: 0 auto;
}

.tab ul::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 3em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
          box-shadow: 0 10px 30px 0 #dee8ef;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: .05s;
          transition-delay: .05s;
}

@media (prefers-reduced-motion: reduce) {
  .tab ul::before {
    -webkit-transition: none;
    transition: none;
  }
}

.tab li {
  width: 50%;
}

.tab li a {
  color: #989da0;
  height: 56px;
  line-height: 56px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: .05s;
          transition-delay: .05s;
}

@media (prefers-reduced-motion: reduce) {
  .tab li a {
    -webkit-transition: none;
    transition: none;
  }
}

.tab li.active a {
  color: #000;
  font-weight: 700;
}

.tab[data-position="1"] ul::before {
  left: 0;
}

.tab[data-position="2"] ul::before {
  left: 50%;
}

.tab-content > div {
  display: none;
}

.tab-content > div.active {
  display: block;
}

@media (max-width: 1599.98px) {
  .tab ul {
    max-width: 256px;
  }
  .tab li a {
    font-size: 15px;
  }
}

.dropdown {
  height: 56px;
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 312px;
  -webkit-transition: border-color 0.2s, margin-bottom 0.2s;
  transition: border-color 0.2s, margin-bottom 0.2s;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown + .dropdown {
  margin-top: 0;
}

.dropdown:not(.active) {
  margin-bottom: 0 !important;
}

.dropdown .dropdown-value {
  border-bottom: 1px solid #d2dae0;
  font-size: 16px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 20px;
  padding: 18px 32px 0 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  letter-spacing: -0.9px;
  color: #989da0;
}

.dropdown .dropdown-value.filled {
  color: #000;
}

.dropdown .dropdown-value::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 4.5px);
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6.5px 0 6.5px;
  border-color: #d2dae0 transparent transparent transparent;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
}

.dropdown .dropdown-box {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
          box-shadow: 0 10px 30px 0 #dee8ef;
  background-color: #fff;
  padding: .5rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 9999;
  visibility: hidden;
  width: 100%;
  -webkit-box-shadow: 0 16px 29px -10px #dee8ef, 0 12px 50px -5px #dee8ef;
          box-shadow: 0 16px 29px -10px #dee8ef, 0 12px 50px -5px #dee8ef;
  -webkit-transition: opacity 0.3s, visibility 0.3s, top 0.2s, bottom 0.2s;
  transition: opacity 0.3s, visibility 0.3s, top 0.2s, bottom 0.2s;
}

.dropdown .dropdown-list {
  max-height: 160px;
  overflow-x: hidden;
}

.dropdown .dropdown-list > div a {
  display: block;
  padding: .35rem .5rem;
}

.dropdown .dropdown-list > div a:hover {
  color: #34D52E;
}

.dropdown.active .dropdown-value {
  color: #34D52E;
}

.dropdown.active .dropdown-value::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: #34D52E transparent transparent transparent;
}

.dropdown.active .dropdown-box {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 1px);
}

.dropdown .dropdown-value:focus {
  border-color: #34D52E;
  color: #34D52E;
  outline: 0;
}

.dropdown .dropdown-value:focus::before {
  border-color: #34D52E transparent transparent transparent;
}

@media (max-width: 991.98px) {
  .dropdown {
    margin-bottom: 0 !important;
  }
  .dropdown .dropdown-box {
    top: auto;
    bottom: -100%;
    left: 0;
    position: fixed;
    opacity: 1;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
  }
  .dropdown .dropdown-list {
    max-height: 380px;
  }
  .dropdown .dropdown-list > div a {
    padding: .5rem 8px;
    font-size: 16px;
  }
  .dropdown.active .dropdown-box {
    top: auto;
    bottom: 0;
  }
  html.open-dropdown body {
    overflow: hidden;
  }
  html.open-dropdown .dim {
    opacity: 1;
    visibility: visible;
  }
  .dropdown.ellipsis {
    width: auto;
    height: auto;
  }
  .dropdown.ellipsis .dropdown-value {
    border: 0;
    padding: 0 10px;
    position: static;
    width: 20px;
    height: 20px;
  }
  .dropdown.ellipsis .dropdown-value::before {
    display: none;
  }
}

.title-area {
  margin-bottom: 52px;
}

.title-area h2 strong {
  display: block;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 16px;
  margin-bottom: 4px;
}

.title-area h2 span {
  display: block;
  font-size: 24px;
  line-height: 1.31;
  letter-spacing: -1.6px;
  font-weight: 400;
  font-family: 'NanumSquare';
}

.title-area h2 span::after {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #34D52E;
  margin-left: 6px;
}

@media (max-width: 991.98px) {
  .title-area {
    display: none;
  }
}

.category {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 47px;
}

.category nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category nav ul li {
  width: auto;
}

.category nav ul li a {
  color: #989da0;
  display: block;
  padding: 5.5px 10px;
  border-radius: 10px;
}

.category nav ul li.active a {
  background: rgba(52, 213, 46, 0.1);
  color: #34D52E;
}

.title-area + .category {
  margin-top: -30px;
}

@media (max-width: 991.98px) {
  .category {
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 45px;
  }
  .title-area + .category {
    margin-top: 15px;
  }
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like strong {
  margin-left: 2px;
  color: #000;
}

.like .heart-filled {
  fill: #34D52E;
}

.like .animation-grow {
  -webkit-animation: grow;
          animation: grow;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.top-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 47px;
}

.top-area .text {
  margin-right: 15px;
}

.top-area .banner {
  min-width: 300px;
}

@media (max-width: 991.98px) {
  .top-area {
    display: none;
  }
}

.icon-ellipsis {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 20px;
  background: url("../images/ellipsis-v-solid.svg") no-repeat 50% 50%;
  background-size: contain;
}

.icon-prev {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 13px;
  background: url("../images/icon-prev.svg") no-repeat 50% 50%;
  background-size: contain;
}

.icon-prev:hover {
  background-image: url("../images/icon-prev-green.svg");
}

.icon-next {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 13px;
  background: url("../images/icon-next.svg") no-repeat 50% 50%;
  background-size: contain;
}

.icon-next:hover {
  background-image: url("../images/icon-next-green.svg");
}

.icon-info {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/icon-info.svg") no-repeat 50% 50%;
  background-size: contain;
}

.th-icon-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  margin-top: -2px;
  margin-bottom: -1px;
  font-weight: 400;
  position: relative;
}

.th-icon-info .icon-info {
  vertical-align: top;
}

.th-icon-info:hover {
  color: inherit;
}

@media (max-width: 991.98px) {
  .icon-info {
    width: 18px;
    height: 18px;
  }
  .th-icon-info {
    margin-top: 0;
  }
}

.pop-over {
  width: 312px;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
          box-shadow: 0 10px 30px 0 #dee8ef;
  white-space: normal;
  letter-spacing: -0.9px;
  line-height: 1.6;
  position: absolute;
  left: 34px;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.pop-over .pop-over-head {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.pop-over.hover {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991.98px) {
  .pop-over {
    display: none;
  }
}

.location-area {
  position: relative;
}

.location-area > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-area > nav .breadcrumb {
  margin-right: 10px;
}

.location-area > nav .icon-info {
  display: block;
}

.location-area > .text-gray {
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Noto Sans KR';
}

.location-area .dropdown.ellipsis {
  position: absolute;
  right: 0;
  top: 1px;
}

@media (max-width: 991.98px) {
  .location-area {
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
  }
  .location-area.has-line {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.table-top {
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

.table-top .btn + .btn {
  margin-left: 10px;
}

.table-top.has-line {
  border-bottom: 0;
  padding-bottom: 0;
}

.list-more {
  text-align: center;
  margin-top: 20px;
}

.dataTables_wrapper {
  border-top: 2px solid #000;
}

.dataTables_wrapper .table {
  border-top: 0;
}

.dataTables_length,
.dataTables_paginate {
  display: none;
}

.banner-area {
  margin: 50px 0;
}

.board .sort .board-name {
  font-size: 16px;
}

.board .sort a {
  color: #989da0;
  font-weight: 700;
}

.board .sort a.active {
  color: #000;
}

.board .board-top {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board .board-top .col-auto {
  padding: 0;
}

.board .board-list > ul {
  border-top: 2px solid #000;
}

.board .board-list > ul > li {
  border-bottom: 1px solid #d2dae0;
}

.board .board-item-simple > a {
  display: block;
  padding-right: 56px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 14px;
}

.board .board-item-simple > a::before {
  content: '';
  display: block;
  width: 13px;
  height: 7px;
  background: url("../images/icon-arrow-down.svg") no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  right: 21px;
  top: 50%;
  margin-top: -3.5px;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
}

.board .board-item-simple > a:hover {
  text-decoration: underline;
  color: inherit;
  text-decoration: none;
}

.board .board-item-simple .cate {
  width: 100px;
  font-weight: 500;
  color: #e96b69;
}

.board .board-item-simple .subject {
  font-size: 15px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.board .board-item-simple .subject .badge {
  margin-right: 3px;
}

.board .board-item-simple .writer {
  width: 120px;
  color: #989da0;
}

.board .board-item-simple .date {
  width: 85px;
  color: #989da0;
}

.board .board-item-simple .hit {
  width: 35px;
  color: #989da0;
}

.board .board-item-detail {
  background: #fbfafb;
  padding: 30px;
  border-top: 1px solid #d2dae0;
  display: none;
}

.board .board-content {
  margin-bottom: 28px;
  line-height: 1.6;
}

.board .board-heart {
  margin-bottom: 30px;
}

.board .board-control {
  font-size: 14px;
}

.board li.active .board-item-simple > a::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.board li.active .board-item-detail {
  display: block;
}

@media (max-width: 1279.98px) {
  .board .board-item-simple > a {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: auto;
    padding-bottom: 10px;
  }
  .board .board-item-simple > a::before {
    top: 24px;
    right: 0;
  }
  .board .board-item-simple > a > div {
    width: auto !important;
    margin-right: 12px;
  }
  .board .board-item-simple .cate {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .board .board-item-simple .subject {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100% !important;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    line-height: 48px;
    margin-right: 0;
  }
  .board .board-item-simple .writer {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .board .board-item-simple .date {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .board .board-item-simple .hit {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .board .board-item-detail {
    padding: 24px;
  }
  .board .board-heart {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .board {
    font-size: 14px;
  }
  .board.notice {
    margin-top: 20px;
  }
  /* .btn-write{position: fixed;width: 100%;bottom: 0;left: 0;z-index: 1;} */
}

.comment .comment-textarea .box {
  border: 1px solid #d2dae0;
  position: relative;
  padding: 1rem;
  background: #fff;
  height: 58px;
  -webkit-transition: all 0.25s .05s;
  transition: all 0.25s .05s;
}

.comment .comment-textarea .box textarea {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  resize: none;
  width: 100%;
  height: 100%;
  outline: 0;
  padding-top: 1px;
}

.comment .comment-textarea .box .password {
  border-top: 1px solid #d2dae0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s, visibility 0.15s;
  transition: opacity 0.15s, visibility 0.15s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.comment .comment-textarea .box .password .form-control {
  border: 0;
  height: 55px;
  padding-left: 1rem;
}

.comment .comment-textarea .box.active {
  border-color: #34D52E;
  height: 160px;
  padding-bottom: 77px;
}

.comment .comment-textarea .box.active .password {
  visibility: visible;
  opacity: 1;
}

.comment .comment-textarea .box .btn-submit {
  position: absolute;
  right: 10px;
  bottom: 11px;
}

.comment .comment-list {
  font-size: 14px;
}

.comment .comment-list > ul > li {
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
}

.comment .comment-list > ul > li + li {
  border-top: 1px solid #d2dae0;
}

.comment .comment-list > ul > li:before {
  content: 'ㄴ';
  display: block;
  color: #989da0;
  position: absolute;
  left: 0;
  top: 15px;
}

.comment .comment-list .content {
  margin-top: 7px;
  line-height: 1.43;
}

.input-box {
  position: relative;
}

.input-box .btn-submit {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.alert-message + .input-box {
  margin-top: 30px;
}

.alert-message-sub {
  margin-top: 12px;
  line-height: 1.6;
  text-align: center;
}

.only-text {
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-error {
  font-size: 13px;
  color: #e96b69;
  display: block;
  margin-top: 5px;
}

.text-error ~ .form-control {
  border-color: #e96b69;
}

.text-valid {
  font-size: 13px;
  color: #34D52E;
  display: block;
  margin-top: 5px;
}

.input-area-mobile {
  position: relative;
  z-index: 1;
  background: #fff;
}

.keyword-autocomplete-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 112px;
  padding-bottom: 24px;
  overflow-x: hidden;
}

.keyword-autocomplete-wrap #keyword-autocomplete-area {
  overflow-x: hidden;
  height: 100%;
}

.keyword-autocomplete-wrap #keyword-autocomplete-area .ui-autocomplete {
  position: static !important;
  width: 100% !important;
  padding: 12px 24px 0 !important;
}

body.body-half {
  background: #fbf9fa url("../images/bg-join.png") no-repeat 0 100%;
}

#half-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#half-block .logo {
  position: fixed;
  left: 60px;
  top: 50px;
}

#half-block .logo a {
  display: inline-block;
  width: 112px;
  height: 23px;
  background: url(../images/logo.svg) no-repeat 50% 50%;
  background-size: contain;
}

.join {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 800px;
          flex: 1 1 800px;
  max-width: 800px;
  height: 800px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 50%;
  padding: 24px;
  margin-right: 24px;
}

.join .join-body {
  height: 100%;
}

.join .join-container {
  height: 100%;
  max-width: 312px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join .join-container > * {
  width: 100%;
}

.join .img {
  width: 180px;
  height: 180px;
  background: url("../images/img-panda-front.png") 50% 50% no-repeat;
  background-size: contain;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.join.login .img {
  background-image: url("../images/img-panda-back.png");
}

.join .join-btns {
  text-align: center;
}

.join .join-btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 28px;
  -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
          box-shadow: 0 10px 30px 0 #dee8ef;
  background-color: #ffffff;
  margin: 0 auto;
}

.join .join-btns a + a {
  margin-top: 20px;
}

.join .join-btns span {
  font-size: 16px;
  letter-spacing: -0.8px;
  font-weight: 700;
  padding-top: 2px;
}

.join .join-btns i {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 42px;
  margin-right: 12px;
}

.join .join-btns i.naver {
  background: url("../images/icon-naver.png") no-repeat 50% 50%;
  background-size: contain;
}

.join .join-btns i.google {
  background: url("../images/icon-google.png") no-repeat 50% 50%;
  background-size: contain;
}

.join .already {
  text-align: center;
  font-size: 14px;
  color: #989da0;
  margin-top: 40px;
}

.join .join-submit .btn {
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(52, 213, 46, 0.3);
          box-shadow: 0 10px 30px 0 rgba(52, 213, 46, 0.3);
}

.join .join-submit .btn:disabled {
  -webkit-box-shadow: 0 10px 30px 0 #d2dae0;
          box-shadow: 0 10px 30px 0 #d2dae0;
}

.join .agree-check {
  margin-top: 110px;
  margin-bottom: 26px;
}

.join .agree-check .item .custom-control-inline {
  margin-right: 2px;
}

.join .agree-check .item a {
  color: #989da0;
  font-size: 0.875rem;
  text-decoration: underline;
}

.join .agree-check .item + .item {
  margin-top: 8px;
}

.join.join-form {
  background: #fff;
}

@media (max-width: 991.98px) {
  #half-block {
    display: block;
  }
  #half-block .half-header {
    width: 100%;
    height: 56px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
  }
  #half-block .logo {
    position: static;
    display: none;
  }
  #half-block .logo a {
    width: 112px;
    height: 23px;
    background: url("../images/logo.svg") no-repeat 50% 50%;
    background-size: contain;
  }
  #half-block .btn-back {
    width: 12px;
    height: 23px;
    position: absolute;
    left: 24px;
    top: 17px;
    background: url("../images/icon-prev.svg") no-repeat 50% 50%;
    background-size: contain;
  }
  .join {
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 100%;
    max-width: 100%;
    padding-top: 56px;
  }
  .join .join-body {
    background: #ffffff;
    border-radius: 50px 0 0 0;
  }
  .join .join-submit {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .join .join-submit .btn {
    border-radius: 0;
  }
  .join .agree-check {
    position: fixed;
    left: 24px;
    bottom: 70px;
  }
  body.body-join-index #half-block .half-header {
    background: transparent;
  }
  body.body-join-index #half-block .logo {
    display: block;
  }
  body.body-join-index #half-block .btn-back {
    background: url("../images/icon-prev-white.svg") no-repeat 50% 50%;
    background-size: contain;
  }
  body.body-join-index .join {
    background: #000;
    padding-top: 140px;
  }
  body.body-join-form .join-body {
    padding-top: 1rem;
  }
  body.body-join-form .join-container {
    display: block;
  }
}

.analysis .grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.analysis .grade strong {
  font-size: 32px;
  font-weight: 700;
  vertical-align: middle;
}

.analysis .grade p {
  font-size: 15px;
  color: #989da0;
  width: 100%;
}

.analysis .grade .th-icon-info {
  margin-top: -3px;
  margin-left: 8px;
}

.analysis .chart {
  text-align: center;
}

.analysis .chart-text {
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 20px;
  margin-top: 36px;
  line-height: 1.5;
}

.analysis .chart-text-sm {
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

.btn-analysis {
  margin-top: 30px;
}

@media (max-width: 991.98px) {
  .analysis .chart-text {
    font-size: 18px;
  }
  .btn-analysis {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}

.progress-panda {
  -webkit-box-shadow: 0 10px 30px 0 #d2dae0;
          box-shadow: 0 10px 30px 0 #d2dae0;
  background: #fff;
  border-radius: 18px;
  width: 312px;
  height: 24px;
  border: solid 1px #dee8ef;
  margin: 0 auto;
}

.progress-panda .progress-panda-bar {
  position: relative;
  height: 100%;
  border-radius: 18px;
  width: 24px;
  -webkit-transition: width 1.3s cubic-bezier(0.1, 0.76, 0.33, 0.99);
  transition: width 1.3s cubic-bezier(0.1, 0.76, 0.33, 0.99);
  background: #2ce326;
  background: -webkit-gradient(linear, right top, left top, from(#2ce326), to(#3fe5e5));
  background: linear-gradient(270deg, #2ce326 0%, #3fe5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ce326",endColorstr="#3fe5e5",GradientType=1);
}

.progress-panda .progress-panda-bar .progress-panda-label {
  display: block;
  color: #34D52E;
  position: absolute;
  top: -34px;
  right: -15px;
  font-size: 18px;
  font-weight: 500;
}

.progress-panda .progress-panda-bar::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -1px;
  background: #34D52E;
}

@-webkit-keyframes progressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}

@keyframes progressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}

#util-block .logo {
  position: fixed;
  left: 60px;
  top: 50px;
}

#util-block .logo a {
  display: inline-block;
  width: 112px;
  height: 23px;
  background: url(../images/logo.svg) no-repeat 50% 50%;
  background-size: contain;
}

#util-block .util-container {
  width: 1008px;
  margin: 0 auto;
  padding: 60px 24px;
}

#util-block .util-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (max-width: 1599.98px) {
  #util-block {
    padding-top: 56px;
  }
  #util-block .util-header {
    width: 100%;
    height: 56px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
  }
  #util-block .logo {
    position: static;
  }
  #util-block .logo a {
    width: 112px;
    height: 23px;
    background: url("../images/logo.svg") no-repeat 50% 50%;
    background-size: contain;
  }
  #util-block .util-container {
    width: auto;
    padding: 1rem 24px;
  }
}

.terms {
  font-family: 'Noto Sans KR';
  font-size: 13px;
  line-height: 1.85;
  font-weight: 400;
}

.welcome {
  width: 360px;
  height: 220px;
  -webkit-box-shadow: 0 -10px 30px 0 #dee8ef;
          box-shadow: 0 -10px 30px 0 #dee8ef;
  background-color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 24px;
  padding: 40px 24px 0;
  border-radius: 20px 20px 0 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .5s .15s ease-out;
  transition: -webkit-transform .5s .15s ease-out;
  transition: transform .5s .15s ease-out;
  transition: transform .5s .15s ease-out, -webkit-transform .5s .15s ease-out;
}

.welcome::before {
  content: '';
  display: inline-block;
  background: url("../images/img-panda-computer.png") no-repeat 50% 50%;
  width: 100px;
  height: 100px;
  background-size: contain;
}

.welcome p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 14px;
}

.show .welcome {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 991.98px) {
  .welcome {
    width: 100%;
    right: 0;
  }
}

.btn-about {
  margin-top: 16px;
}

.input-area.my {
  margin-top: -10px;
}

.banner-api {
  background: #fef09f;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 20vh;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.banner-api a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.banner-api a::before {
  content: '';
  background: url("../images/img-panda-sm.png") no-repeat 50% 50%;
  width: 85px;
  height: 97px;
  position: absolute;
  right: 4px;
  bottom: -10px;
  -webkit-transition: all .2s .03s ease-in-out;
  transition: all .2s .03s ease-in-out;
}

.banner-api a:hover {
  color: #000;
}

.banner-api a:hover::before {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.mymall .grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.mymall .grade strong {
  font-size: 32px;
  font-weight: 700;
  vertical-align: middle;
}

.mymall .grade p {
  font-size: 15px;
  color: #989da0;
  width: 100%;
}

.mymall .grade .th-icon-info {
  margin-top: -3px;
  margin-left: 8px;
}

.mymall .chart {
  text-align: center;
}

.mymall .btn-group .btn {
  background: #fff;
  border: 1px solid #d2dae0;
  color: #989da0;
}

.mymall .btn-group .btn:not(:disabled):not(.disabled).active {
  background: #edf0f7;
}

.mymall .table-area {
  margin-top: 30px;
}

.mymall .table .text-truncate {
  max-width: 260px;
}

.product-thumb {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.table-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 13px;
}

.icon-increase {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent #34D52E transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.icon-decrease {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #e96b69 transparent transparent transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 991.98px) {
  body.body-mymall #center-block {
    position: relative;
    padding-top: 116px;
    background: #fff;
  }
  body.body-mymall .banner-api {
    top: 0;
    left: 0;
    bottom: auto;
  }
  body.body-mymall #center-block + #container-block {
    border-top: 0;
    padding-top: 0;
  }
  .mymall .table .text-truncate {
    max-width: 140px;
  }
}

.result-table {
  border-top: 2px solid #000;
  margin-top: 50px;
}

.result-table .result-table-head {
  font-weight: 700;
}

.result-table .result-table-head [class^=col] {
  padding: 15px 20px 13px;
}

.result-table .box {
  height: 64px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
          box-shadow: 0 10px 30px 0 #dee8ef;
  background-color: #ffffff;
  font-weight: 700;
}

.result-table .box .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  height: 100%;
}

.result-table .box span {
  font-size: 15px;
  padding-left: 20px;
  font-weight: 700;
  letter-spacing: -0.75px;
}

.result-table .box strong {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  display: block;
  line-height: 1.1;
}

.result-table .box i {
  font-size: 13px;
  letter-spacing: -0.65px;
  font-weight: 400;
  display: block;
  font-style: normal;
}

.result-table .desc {
  padding: 18px 20px 30px;
  line-height: 1.71;
  letter-spacing: -0.7px;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  .result-table {
    padding-top: 45px;
  }
  .result-table .box {
    height: 178px;
  }
  .result-table .box .row {
    position: relative;
    padding: 0;
  }
  .result-table .box .row::before {
    content: '';
    height: 1px;
    background: #d2dae0;
    position: absolute;
    left: 30px;
    top: 50%;
    right: 30px;
  }
  .result-table .box .row::after {
    content: '';
    width: 1px;
    background: #d2dae0;
    position: absolute;
    left: 50%;
    top: 16px;
    bottom: 16px;
  }
  .result-table .box .text-left {
    position: absolute;
    left: -20px;
    top: -32px;
  }
  .result-table .box .text-center {
    max-width: 50%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result-table .box b {
    color: #989da0;
    font-size: 14px;
    letter-spacing: -0.65px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .result-table .desc {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.data-empty {
  padding: 130px 24px;
  text-align: center;
}

.data-empty span {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url("../images/img-panda-error.png") 50% 50% no-repeat;
  background-size: contain;
}

.data-empty p {
  margin-top: 30px;
  font-size: 15px;
}

@media (max-width: 991.98px) {
  .data-empty {
    padding: 50px 24px;
  }
}

body.body-error {
  overflow: hidden;
}

body.body-error #util-block,
body.body-error .util-container {
  height: 100%;
}

body.body-error #util-header {
  position: fixed;
  left: 60px;
  top: 50px;
}

body.body-error .error {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.body-error .error strong {
  font-family: 'Gotham';
  font-weight: 700;
  color: #e96b69;
  font-size: 50px;
  letter-spacing: -2.5px;
}

body.body-error .error p {
  font-size: 15px;
  margin: 5px 0 55px;
}

body.body-error .error .gohome {
  width: 256px;
  height: 56px;
  border-radius: 28px;
  -webkit-box-shadow: 0 10px 30px 0 #dee8ef;
          box-shadow: 0 10px 30px 0 #dee8ef;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.8px;
  color: #000;
  line-height: 56px;
  text-align: center;
}

body.body-error .error .img {
  width: 310px;
  height: 310px;
  background: url("../images/img-panda-error.png") 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s 0.05s cubic-bezier(0.25, 0.1, 0.48, 1.24);
  transition: all 1s 0.05s cubic-bezier(0.25, 0.1, 0.48, 1.24);
}

body.body-error .error .img.active {
  bottom: -36px;
}

@media (max-width: 991.98px) {
  body.body-error .error {
    padding-bottom: 70px;
  }
  body.body-error .error strong {
    font-size: 30px;
  }
  body.body-error .error p {
    margin-top: 2px;
  }
  body.body-error .error .img {
    width: 200px;
    height: 200px;
  }
  body.body-error .error .img.active {
    bottom: -25px;
  }
}

.summary {
  padding: 20px 0;
  border-bottom: 1px solid #d2dae0;
}

.summary .info span {
  font-size: 14px;
  display: block;
}

.summary .info strong {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.summary .info i {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.summary .info .lang-kor {
  font-size: 16px;
}

.summary-detail .tit {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 25px;
}

.summary-detail .info {
  margin-bottom: 15px;
}

.summary-detail .info span {
  font-size: 14px;
  display: block;
  font-family: 'Noto Sans KR';
}

.summary-detail .info strong {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.summary-detail .info i {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.summary-detail .table th,
.summary-detail .table td {
  padding-left: 15px;
  letter-spacing: -0.7px;
}

.summary-detail .table thead th {
  font-size: 14px;
}

.summary-detail .table b {
  margin-right: 2px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .summary {
    padding: 20px 0 2px;
    border-bottom: 1px solid #d2dae0;
  }
  .summary .info .col-6 {
    padding-bottom: 18px;
  }
}

.dashboard-title {
  margin-bottom: 20px;
  margin-top: 50px;
}

.dashboard-title .title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.dashboard-title .desc {
  font-size: 14px;
  color: #989da0;
  margin-top: 3px;
}

.dashboard-card {
  margin-bottom: 50px;
}

.dashboard-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  border-radius: 10px;
  background-color: #fbfafb;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.dashboard-card a:hover {
  -webkit-box-shadow: 0 10px 30px 0 #d2dae0;
          box-shadow: 0 10px 30px 0 #d2dae0;
  background-color: #ffffff;
}

.dashboard-card .dashboard-title {
  padding: 20px 20px 0;
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard-card .chart {
  max-height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.body-dashboard #container-block {
  background: url("../images/bg-main.png") no-repeat 50% 0;
}

@media (max-width: 991.98px) {
  body.body-dashboard #container-block {
    background-image: url("../images/bg-main-m.png");
    background-size: contain;
  }
  body.body-dashboard .title-area {
    display: block;
    padding-top: 25px;
  }
  body.body-dashboard .title-area h2 strong {
    display: none;
  }
  body.body-dashboard .title-area h2 span {
    font-size: 18px;
  }
  .dashboard-title .title {
    font-size: 16px;
  }
  .dashboard-card a {
    height: 280px;
    -webkit-box-shadow: 0 10px 30px 0 #d2dae0;
            box-shadow: 0 10px 30px 0 #d2dae0;
    background-color: #fbfafb;
  }
  .dashboard-card .col-12 + .col-12 {
    margin-top: 1rem;
  }
  .dashboard-card .chart {
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  body.body-dashboard {
    /* #container-block{
            background: url('../images/bg-main-mobile.png') no-repeat 50% 0;
        } */
  }
  body.body-dashboard #container-block {
    background-position: 60% -40px;
  }
}
/*# sourceMappingURL=style.css.map */