/* Nanum Square */
@font-face {
      font-family: 'NanumSquare';
      font-weight: 400;
      src: url(../fonts/NanumSquare/NanumSquareR.eot);
      src: url(../fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NanumSquare/NanumSquareR.woff) format('woff'),
            url(../fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
}
@font-face {
      font-family: 'NanumSquare';
      font-weight: 700;
      src: url(../fonts/NanumSquare/NanumSquareB.eot);
      src: url(../fonts/NanumSquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NanumSquare/NanumSquareB.woff) format('woff'),
            url(../fonts/NanumSquare/NanumSquareB.ttf) format('truetype');
}
@font-face {
      font-family: 'NanumSquare';
      font-weight: 800;
      src: url(../fonts/NanumSquare/NanumSquareEB.eot);
      src: url(../fonts/NanumSquare/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NanumSquare/NanumSquareEB.woff) format('woff'),
            url(../fonts/NanumSquare/NanumSquareEB.ttf) format('truetype');
}

/* noto sans */
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 300;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 400;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 500;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 700;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.ttf) format('truetype');
}

/* Gotham */
@font-face {
      font-family: 'Gotham';
      font-weight: 400;
      src: url(../fonts/Gotham/Gotham-Book.eot);
      src: url(../fonts/Gotham/Gotham-Book.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Gotham/Gotham-Book.woff) format('woff'),
            url(../fonts/Gotham/Gotham-Book.ttf) format('truetype');
}

@font-face {
      font-family: 'Gotham';
      font-weight: 700;
      src: url(../fonts/Gotham/Gotham-Bold.eot);
      src: url(../fonts/Gotham/Gotham-Bold.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Gotham/Gotham-Bold.woff) format('woff'),
            url(../fonts/Gotham/Gotham-Bold.ttf) format('truetype');
}

/* Lato */
@font-face {
      font-family: 'Lato';
      font-weight: 400;
      src: url(../fonts/Lato/Lato-Regular.eot);
      src: url(../fonts/Lato/Lato-Regular.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Lato/Lato-Regular.woff) format('woff'),
            url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}

@font-face {
      font-family: 'Lato';
      font-weight: 700;
      src: url(../fonts/Lato/Lato-Bold.eot);
      src: url(../fonts/Lato/Lato-Bold.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Lato/Lato-Bold.woff) format('woff'),
            url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
}